.nav
{
    width: 100%;
    padding: 20px 0px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: white;
    position: absolute;
    top: 0;
    z-index: 999;
    transition: all .5s ease;
    @apply bg-gray-700 bg-opacity-50
}
.nav__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav.fixed{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
.nav-part-2
{
    display: flex;
    align-items: center;
}
.nav-item
{
    margin-right: 20px;
    color: white;
    cursor: pointer;
    &:hover{
        color: rgb(237, 237, 237);
    }
    &.active{
        color: $default_color !important;
    }
}
button.nav-item.contact{
    background-color: $default_color;
    color: white !important;
    font-weight: bold;
    font-size: 14px;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 10px 30px;
    cursor: pointer;
}
.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @apply bg-gray-700 h-32 px-7 md:px-0 text-center text-xs md:text-sm
}