.home-page
{
    position: relative;
}
.content
{
    z-index: 1;
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
    align-items: center;
    position: relative;
    top: -80px;
    left: 0;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding-top: 60px;
}
.content::before
{
    content: '';
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow-x: hidden;
    left: 0;
    top: 0;
}
.div-intro
{
    color: white;
    font-weight: bold;
    margin-left: 50px;
}
.greeting{
    font-size: 20px;
}
.intro-name
{
    border-bottom: 1px solid white;
    @apply text-5xl
}
.intro-poste
{
    font-weight: 15;
    font-size: 1rem;
    margin-top: 10px;
}
.div-socials
{
    display: flex;
    font-size: 30px;
}
.div-socials div:not(:first-child)
{
    margin-left: 20px;
}
.div-socials div {
    cursor: pointer;
    transition: .5s;
    color: white;
}
.socials__icon a{
    @apply text-gray-400 hover:text-white
}

.divider{
    color: $default_color;
    display: flex;
    align-items: center;
    .line{
        width: 50px;
        height: 2px;
        background-color: $default_color;
        margin-left: 10px;
        @apply my-3;
        &.l{
            margin-left: 0px;
            margin-right: 10px;
        }
    }
}
.title{
    @apply text-3xl font-bold mb-5
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.about{
    padding: 20px 0px;
    margin-top: -60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about .card{
    width: 45%;
    position: relative;
    img{
        max-width: 100%;
        border-radius: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    &::before{
        content: '';
        position: absolute;
        z-index: -1;
        border-radius: 20px;
        bottom: 0;
        width: 80%;
        height: 360px;
        border: 10px solid $default_color;
        border-left-color: $default_color;
        border-bottom-color: $default_color;
    }
}
.about .text{
    width: 50%;
    .divider{
        color: $default_color;
        display: flex;
        align-items: center;
        .line{
            width: 50px;
            height: 2px;
            background-color: $default_color;
            margin-left: 10px;
            margin-top: 3px;
        }
    }
}

.skills{
    padding: 20px 0px;
    @apply mt-16;
    .tools{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border-radius: 20px;
        .tool{
            width: 130px;
            height: 100px;
            margin: 20px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgb(228, 228, 228);
            border-radius: 5px;
            img{
                max-width: 80px;
                max-height: 80px;
            }
        }
    }
}

.portfolio{
    padding: 50px 0px;
    text-align: center;
    @apply mt-16
}
.portfolio .projects{
    display: flex;
    flex-wrap: wrap;
    margin: -20px;
    justify-content: center;
}
.portfolio .projects .project{
    margin: 20px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    .bg{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        z-index: 9;
        top: 0;
        left: 0;
        transition: all .3s ease;
    }
}
.project:hover .bg{
    opacity: 0.4;
}
.project img{
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
}
.project .info{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.info .name{
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 20px;
}

.contact{
    padding: 50px 0px;
    .body{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        @apply my-16
    }
}
.contact .body .details{
    width: 40%;
}
.details .detail{
    display: flex;
    align-items: center;
    &:not(:last-child){
        margin-bottom: 20px;
    }
}
.detail .icon{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    @apply bg-gray-700
}
.detail .text{
    color: gray;
}

.contact .body .form{
    width: 57%;
}
.form .flex-fields{
    display: flex;
    justify-content: space-between;
    input{ width: 49%; }
}