.project-cover{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    img{
        max-width: 100%;
        max-height: 100%;
    }
    @apply bg-gray-900
}
.project-detail .title{
    margin-bottom: 15px;
    margin-top: 20px;
    @apply text-white
}
.project-detail .caption{
    color: gray;
    font-weight: lighter;
    margin-bottom: 15px;
    padding: 10px;
    border-left: 5px solid rgb(175, 175, 175);
    @apply bg-gray-500 text-white
}
.project-detail .desc{
    font-style: italic;
    @apply text-white
}
.project-detail .infos{
    margin-top: 30px;
    @apply text-white
}
.infos .info{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 12px;
    font-style: oblique;
    @apply text-white
}
.preview{
    margin-top: 20px;
}

.project-details-wrapper .ant-modal-body{
    @apply bg-gray-800
}